<div aria-hidden="true" role="dialog" id="data_import_modal" class="modal inmodal">
    <div class="modal-dialog" style="width: 500px;margin: 150px auto">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button"><span
                        aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">导入数据</h4>
                <small></small>
            </div>
            <div class="modal-body">

                <form method="post" action="{% url "data_analy:data-import" %}" id="fm_data_import"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="control-label" for="id_data_analy">模板</label>
                        <a href="{% url "data_analy:data-export" %}" style="display: block">下载</a>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="id_users">xx excel</label>
                        <input id="id_data_analy" type="file" name="file"/>
                        <span class="help-block">
                                第一行为栏名，后面的为数据.
                            </span>
                    </div>
                </form>
                <p>
                <p class="text-success" id="id_created"></p>
                <p id="id_created_detail"></p>
                <p class="text-warning" id="id_updated"></p>
                <p id="id_updated_detail"></p>
                <p class="text-danger" id="id_failed"></p>
                <p id="id_failed_detail"></p>
                </p>

            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-white" type="button">关闭</button>
                <button class="btn btn-primary" type="button" id="btn_data_import">确认</button>
            </div>
        </div>
    </div>
</div>